<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Tutorial of Thymeleaf</title>
</head>
<body>
	<h1>Thymeleaf Page</h1>
    <p th:text="${msg}"></p>
    <!-- <form method="post" action="/form">でフォームの定義をしています。送信先URLは「/form」で、送信方法は「post」としています。 -->
    <form method="post" action="/form">
    <!-- <input>タグのth:valueはThymeleafの属性で、属性値を入力フォームに出力します。 -->
        <input type="text" name="val" th:value="${val}">
        <button type="submit">送信</button>
    </form>
</body>
</html>