<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Thymeleaf</title>
</head>
<body>
    <h1>Thymeleaf Page</h1>
    <!-- <p th:if="${val1} ge ${val2}" th:text="'val1(' + ${val1} + ') は val2(' + ${val2} + ') 以上です。(th:if)'">th:if</p> -->
    <p th:if="${val1} gt ${val2}" th:text="'val1(' + ${val1} + ') は val2(' + ${val2} + ') 以上です。(th:if)'">th:if</p>
    <p th:if="${val1} lt ${val2}" th:text="'val1(' + ${val1} + ') は val2(' + ${val2} + ') 以下です。(th:if)'">th:if</p>
    <p th:unless="${val1} eq ${val2}" th:text="'val1(' + ${val1} + ') と val2(' + ${val2} + ') は 不一致です。(th:unless)'">th:unless</p>
</body>
</html>

<!-- th:if 属性は、属性値が真の場合のみ対象となるHTML要素を出力します。
th:unless 属性は、属性値が偽の場合のみ対象となるHTML要素を出力します。 -->